<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Product
    Id="*"
    Name="DINFO"
    Manufacturer="SCSDC"
    Version="1.0.0.0"
    UpgradeCode="*">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine" />

    <!-- Installation directory under Program Files -->
    <Directory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="SCSDC DINFO">
        <Component Id="MainExecutable">
          <File Id="DInfoExe" Source="dinfo.exe" KeyPath="yes" />

          <!-- Append install folder to system PATH -->
          <Environment
            Id="PathUpdate"
            Name="PATH"
            Value="[INSTALLFOLDER]"
            Action="set"
            Part="last"
            Permanent="yes"
            System="yes" />
        </Component>
      </Directory>
    </Directory>

    <!-- Feature to include the component -->
    <Feature Id="ProductFeature" Title="DINFO" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

  </Product>
</Wix>

